.message-wrap{
    top: 15px;
    padding: 0 10px;
    position: fixed;
    min-width: 300px;
}
.message-forms{
    position: unset !important;
    width: fit-content;
    margin: 0 auto;
}
.message-task__control{
    width: fit-content;
    position: unset;
    margin: 0 auto;
    margin-top: 10px;
}
.message-tasks{
    position: absolute;
    z-index: 1;
    top: 0;
}
@media(max-width: 500px) {
    .message-wrap {
        width: 100%;
    }
}







